{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Nurse-Detail</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <h1 class='text-warning border-bottom pb-2'>Desbord</h1>
            <div class="col-sm-2">
                <div class="border-right h-100 bo1">
                    <div class='text-center mt-5'>
                        <i class="fas fa-user-circle fa-4x"></i>
                        <h3 class='mt-3 st-font'>{{name.Name}}</h3>
                    </div>  
                    <hr>
                    <nav class="nav flex-column text-center">
                        <a href="{% url 'usersearch' %}" class="nav-link ">Select Field</a>
                        <a href="{% url 'applynurse' %}" class="nav-link">Applay Nurse</a>
                        <a href="#" class="nav-link active">Nurse Detail</a>
                        <a href="#" class="nav-link">Satus</a>
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    </nav>
                </div>
            </div>
            <div class="col-sm-10 mb-5">
            <h1 class='text-danger border-bottom pb-2'>Nurse Details</h1>
                <form method='post'>
                {% csrf_token %}
                    <div class="row my-3">
                        <div class="form-group col-md-4 mt-4">
                            <label for="Inputname"> Nurse Name</label>
                            <input type="text" name='Book_name' class='form-control' id='Inputname' value='{{data.Nurse_name}}' readonly>
                        </div>
                        <br>
                        <div class="form-group offset-1 col-md-4 mt-4">
                            <label for="inputExp"> Select Nurse Specialist *</label>
                            <input type="text" name='Book_specialist' class='form-control' id='Inputspecialist' value='{{data.Nurse_specialist}}' readonly>
                        </div>

                        <div class="form-group col-md-4 mt-3">
                            <label for="inputEmail"> Nurse Email</label>
                            <input type="email" name='Book_email' class='form-control' id='inputEmail' value='{{data.Nurse_email}}' readonly>
                        </div>

                        
                        <div class="form-group offset-1 col-md-4 mt-3">
                            <label for="inputExp"> Nurse Expirence</label>
                            <input type="Text" name='Book_expirence' class='form-control' id='inputExp' value='{{data.Nurse_expirence}}' readonly>
                        </div>

                        <div class="form-group col-md-4 mt-3">
                            <label for="inputExp"> Nurse Fees</label>
                            <input type="Text" name='Book_fees' class='form-control' id='inputExp' value='{{data.Nurse_fees}}' readonly>
                        </div>

                        <div class="form-group col-md-9 mt-3">
                            <label for="inputTextarea"> Your any special message *</label>
                            <textarea type="text" name='Message1' class='form-control' id='inputTextarea' required></textarea>
                        </div><br>
                    </div>
                    <div class="row">
                        <div class="offset-3 col-sm-3 text-center py-1">
                            <button class='btn btn-primary' type='submit'>Book Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
</body>
</html>